.Ingredients,
.Steps,
.Description,
.MainPage {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 700;
  width: 600px;
  margin: 0px auto;
}

#Image {
  display:block;
  width: 600px;
  height: auto;
  margin: 20px auto;
  /* text-align: center; */
}

.Ingredients,
.Steps {
  color: black;
  /* background-color: palegreen; */
  font-size: 24px;
  font-weight: 700;
  width: 600px;
  margin: 0px auto;
}

ul,ol{
  margin-top: 10 px;
  padding: 20px;
  background-color: whitesmoke;
  display: flex;
  align-items: "first baseline";
  flex-direction: column;
}
.Header {
  background-color: orange;
  color: white;
  text-align: center;
  padding: 20px;
  border: 1px solid black;
  width: 600px;
  margin: 0 auto;
}

#Steps,#Ingredients{
  width :600px;
  margin: 10px auto;
}
